body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 100vh;
}

.page-content {
    /*background-color: lightgray; */ 
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Simple CLM', serif;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.first-page {
    padding-bottom: 60px;
}

.left_side {
    width: 500px;
    padding: 10px;
    float: left;
   /* background-color: lightblue;*/
}
.titles-part {
   
}
.right_side {
    width: 500px;
    padding: 10px;
    float: right;
   /* background-color: lightcoral; */
    
}
.video {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
}

.additional-page {
    width: 600px;
    margin: auto;
    text-align: right;
}

.scroll-button-wrapper {
    position: relative;
}

.flat-button {
    font-family: 'Simple CLM', serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 29px;
    background: #3498db;
    padding: 10px 40px 10px 40px;
    width: 63px;
    height: 50px;
    text-decoration: none;
    border: 0;
}

    .flat-button:hover {
        background: #3cb0fd;
        text-decoration: none;
    }

.ScrollButton {
    background-position: center;
    content: '';
    display: inline-block;
    background: url(../images/DownButton.png) no-repeat;
    border: none;
    width: 0px;
    padding: 27px;
    margin: 0px;
    cursor: pointer;
    text-decoration: none;
}

    .ScrollButton:hover {
        background: url(../images/DownButton.hover.png) no-repeat;
    }


.Title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 27px;
    text-align: right;
}

.SubTitle {
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 35px;
    text-align: right;
}

.Description {
    font-size: 28px;
    line-height: 39px;
    padding-top: 42px;
    padding-bottom: 63px;
}
