body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 100vh;
}

.page-content {
    background-color: lightgray;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: Ogen, Arial;

}

.first-page {
}

.scroll-button-wrapper {
}

.flat-button {
    font-family: Aharoni;
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    background: #3498db;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    border: 0;
}

.flat-button:hover {
        background: #3cb0fd;
        text-decoration: none;
    }
