body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 100vh;
}

.page-content {
    /*background-color: lightgray; */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Ogen';
}

.first-page {
    padding-bottom: 60px;
}

.scroll-button-wrapper {
    position: relative;
}

.flat-button {
    font-family: 'Ogen';
    font-weight: bold;
    color: #ffffff;
    font-size: 29px;
    background: #3498db;
    padding: 10px 40px 10px 40px;
    width: 63px;
    height: 50px;
    text-decoration: none;
    border: 0;
}

    .flat-button:hover {
        background: #3cb0fd;
        text-decoration: none;
    }

.ScrollButton {
    background-position: center;
    content: '';
    display: inline-block;
    background: url(../images/DownButton.png) no-repeat;
    border: none;
    width: 0px;
    padding: 27px;
    margin: 0px;
    cursor: pointer;
    text-decoration: none;
}

.ScrollButton:hover {
    background: url(../images/DownButton.hover.png) no-repeat;    
}


.Title {
    
    font-size: 53px;
    font-weight: bold;
    padding-bottom: 27px;
}

.SubTitle {
    font-size: 53px;
    font-weight: normal;
    padding-bottom: 35px;
}

.Description {
    font-size: 28px;
    line-height: 39px;
    padding-top: 42px;
    padding-bottom: 63px;
}