html, body {
    min-height: 100%;
}

.jumbotron {
    height: 100%;
    height: 100vh;
    background-color: white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}


.jumbotron-header {
    /*background-color: pink;*/
    height: 100%;
    width: 100%;
    display: table;
    padding: 90px 5px 0 5px;
}

.main-container {
    /*background-color: darkorange;*/
    display: table-row;
    height: 0;
}

.buffer {
    display: table-row;
    height: 100%;
}

.the-rest {
    display: table-row;
    height: 54px;
    padding-top: 130px;
}

.last-row {
    display: table-row;
    height: 40px;
}
.scroll-button-wrapper {
    /*background-color: aqua;*/
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    display: table-cell;
    vertical-align: central;
    width: 100%;
    margin-bottom: 105px;
}

.scroll-button-inner {
    position: relative;
}

#title {
    height: 100%;
    overflow: hidden;
    /*background-color: lightgoldenrodyellow;*/
}


#cover-page {
    /*background-color: lightblue;*/
}

#title-div {
    height: 100%;
}

.small_divider {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border-color: gray;
}

#title-video {
    /*background-color: yellow;*/
    /*padding-left: 0; moved to sm size only*/
}

#title-content {
    padding-bottom: 0;
    text-align: center;
}

.Description {
    display: block;
    text-align: center;
}


.scroll-button-div {
    /*background-color: orange;*/
    width: 54px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    /*margin-bottom: -50px;*/
}

.ScrollButton {
    background-position: center;
    content: '';
    background: url(../images/DownButton.png) no-repeat;
    border: none;
    width: 0;
    padding: 27px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    left: -50%;
}

    .ScrollButton:hover {
        background: url(../images/DownButton.hover.png) no-repeat;
    }

.flat-button {
    /*font-family: 'Simple CLM', serif;*/
    font-weight: bold;
    color: #ffffff;
    background: #3498db;
    text-decoration: none;
    border: 0;
    margin: 0 auto;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    width: 63px;
    height: 50px;
}

    .flat-button:hover {
        background: #3cb0fd;
        text-decoration: none;
    }


.register-button-div {
    /*background-color: purple;*/
    text-align: center;
    width: 100%;
    margin-top: 10px;
}


.bottom-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.bottom-responsive-item {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0;
}

.bottom-responsive-16by9 {
    padding-top: 56.25%;
    padding-bottom: 7%;
}

.bottom-responsive-4by3 {
    padding-top: 75%;
}





/* Conditional attributes */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* For col-sm-x */
@media (min-width: 768px) {

    .jumbotron-header {
        padding: 150px 15px 0 15px;
    }

    .main-row {
        width: 768px;
    }

    .sm-bottom-responsive {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
    }

    .sm-bottom-responsive-item {
        position: absolute;
        right: 0;
        bottom: 0;
        border: 0;
    }

    .sm-bottom-responsive-16by9 {
        padding-top: 56.25%;
        padding-bottom: 6%;
    }

    .sm-bottom-responsive-4by3 {
        padding-top: 75%;
    }

    #title-video {
        /*background-color: yellow;*/
        padding-left: 0;
    }

    #title-content {
        text-align: right;
    }

    .Description {
        line-height: 30px;
    }

    .flat-button {
        /*font-family: 'Simple CLM', serif;*/
        font-size: 23px;
        padding: 10px 40px 10px 40px;
        width: 63px;
        height: 50px;
    }
}

/* Medium devices (desktops, 992px and up) */
/* For col-md-x */
@media (min-width: 992px) {
    .sm-bottom-responsive-16by9 {
        padding-bottom: 7%;
    }
}

/* Large devices (large desktops, 1200px and up) */
/* For col-lg-x */
@media (min-width: 1200px) {

}
