body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-wrapper {
    height: 100%;
    height: 100vh;
}

.page-content {
    /*background-color: lightgray; */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Simple CLM', serif;
}

.Title {
    
    font-size: 53px;
    font-weight: bold;
    padding-bottom: 27px;
}

.SubTitle {
    font-size: 53px;
    font-weight: normal;
    padding-bottom: 35px;
}

.Description {
    font-size: 28px;
    line-height: 39px;
    padding-top: 42px;
    padding-bottom: 63px;
}

#shareUrlInput {
    padding: 8px;
    width: 720px;
    text-align: center;
    border: 0 none white;
}

.share-common {
    text-align: center;
    background-color: white;
}

